

  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%; }
  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    font-family: "Lucida Console", Courier, monospace;
    background-color:black}

    .float.left {float: left; clear: both;}

/*report formats */
td,tr,th {
    padding: 5px;
    text-align: left;
    font-size: small;
}

td, th {
    border: 1px dotted black;

}

th {
    font-weight: bold;
    font-size: 14px;
}


table {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 30px auto;
    background-color: whitesmoke;
    clear: both;
   
}



/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%;
    margin: 5%; }
    .column,
    .columns {
      margin-left: 0.5%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .one.column,
    .one.columns                    { width: 8%; background-color: #484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid black; padding: 4px; }
    
    .two.columns                    { width: 16.25%; background-color: #484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid red; padding: 4px; min-height: 600px; max-height: 600px;}
    
    .two.columns.long               { width: 16.25%; background-color: #484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid red; padding: 4px; min-height: 600px; max-height: 600px;}
    
    .three.columns                  { width: 22%;    background-color:#484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid red; padding: 4px; min-height: 600px; max-height: 600px;}
    
    .three.columns.long             { width: 22%;    background-color:#484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid red; padding: 4px; min-height: 600px; max-height: 600px;}

    .four.columns                   { width: 33%;    background-color: #484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid red; padding: 4px; min-height: 600px; max-height: 600px;}
    
    .four.columns.long                   { width: 33%;    background-color: #484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid red; padding: 4px;
        min-height: 600px; max-height: 600px;}

    .five.columns                   { width: 39.3333333333%; }
    
    .six.columns                    { width: 49.75%; background-color: #484848; color: white; margin-bottom: 5px; border-radius: 5px;  border: 3px solid black; padding: 4px; 
        min-height: 600px; max-height: 600px;}  
    
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 66.5%;          }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.5%; }
    .twelve.columns                 { width: 98%; margin: auto;}
  
    
  
  }
  
  

  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0;}
  h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; text-align: center; color: red; }
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
  h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
  h5 { font-size: 2.4rem; color: white; margin-bottom: 0.6rem; margin-top: 0.6rem; text-align: center;}
  h6 { font-size: 1.7rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem; text-align: right;}
  
  h5 p { font-size: 2.4rem; color: white; text-shadow: black; text-align: center; padding-bottom: 0%; margin-bottom: 1px}

  p { font-size: 15px; margin-top: 0;  text-align: left; }
  
  img {text-align: center;}
  .indent{ text-indent: 20px; clear: both; }

  

  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display:table ;
    clear: both; }
  
    